{{> head }}
{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Modelo de flor creada por IA</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente adipisci magnam consectetur quae quidem enim recusandae laborum ratione libero tempore. Repudiandae temporibus enim repellat molestiae eum. Assumenda cupiditate illum eius.
            </p>
        </div>

        <div class="col-4">
            <img src="assets\img\flores.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer }}